:root {
    /* --theme-color: hsl(42, 42%, 53%);
    --theme-color: hsl(50, 100%, 25%);
    --theme-color: hsl(40, 60%, 40%);
    --theme-color: hsl(40, 60%, 35%);
    /* --theme-color: #96760d;
    --theme-color: #b0892b;
    --theme-color: hsl(43, 61%, 37%); */
    /* --theme-color: hsl(40, 63%, 36%); */
    /* --theme-color: hsl(37, 50%, 36%); */

    /* --theme-color: hsl(37, 55%, 36%);
    --theme-color-opaque: hsla(37, 55%, 36%, 0.6); */

    --theme-color: hsl(230, 27%, 32%);
    /* --theme-color: hsl(129, 16%, 35%); */
    --theme-color-opaque: hsla(230, 23%, 39%, 0.6);

    --text-color-1: #222;
    --text-color-2: #666;
    --text-color-3: #888;
    --text-color-4: #999;

    --background-value: 255;
    --background-value-1: calc(-8 + var(--background-value));
    --background-value-2: calc(-6 + var(--background-value-1));
    --background-value-3: calc(-8 + var(--background-value-2));
    --background-value-4: calc(-10 + var(--background-value-3));
}


.topbar {
    background-color: var(--theme-color);
    color: var(--background-color);
    box-shadow: none;
    border: none;
}
#audio-controls {
    /* background-color: var(--background-color-2); */
    border-top: 1px solid var(--background-color-4);
    box-shadow: none;
}
#previous-verse-button {
    border-bottom: 1px solid var(--background-color-4);
}
#next-verse-button {
    border-top: 1px solid var(--background-color-4);
}
.topbar .small-text {
    color: var(--background-color-4);
}
#title-english {
    color: var(--background-color-4);
}
#verse-selector-button:disabled {
    color: var(--background-color-4);
}