@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

:root {
    --large-text: 1.1em;
    --medium-text: 0.95em;
    

    --button-border: 1px;

    --hover-opacity-1: 0.8;

    --border-radius: 6px;


    --gap: 2px;

    --padding-0: 30px;
    --padding-1: 20px;
    --padding-2: 12px;
    --padding-3: 8px;
    --padding-4: 6px;
    --padding-5: 4px;


    /* --playing-background-value: calc(-6 + var(--background-value));
    --playing-background-color: rgb(var(--playing-background-value),var(--playing-background-value),var(--playing-background-value)) */

    --background-color: rgb(var(--background-value),var(--background-value),var(--background-value));
    --background-color-1: rgb(var(--background-value-1),var(--background-value-1),var(--background-value-1));
    --background-color-2: rgb(var(--background-value-2),var(--background-value-2),var(--background-value-2));
    --background-color-3: rgb(var(--background-value-3),var(--background-value-3),var(--background-value-3));
    --background-color-4: rgb(var(--background-value-4),var(--background-value-4),var(--background-value-4));

    /* Dark Theme */
    --theme-color: hsl(30, 70%, 65%);
    --theme-color-opaque: hsla(30, 70%, 65%, 0.6);

    --text-color-1: #ccc;
    --text-color-2: #bbb;
    --text-color-3: #ddd;
    --text-color-4: #999;

    
    --background-value: 24;
    --background-value-1: calc(6 + var(--background-value));
    --background-value-2: calc(6 + var(--background-value-1));
    --background-value-3: calc(8 + var(--background-value-2));
    --background-value-4: calc(10 + var(--background-value-3));
    
}
html {
    overflow: hidden;
    position: fixed;
    height: 100%;
    background-color: var(--background-color);
}
body {
    font-size: 3.8vmin; /* font-size: 16px; */
    position: fixed;
    margin: 0;
    font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    color: var(--theme-color);
    height: 100%;
    width: 100vw;
    overflow: hidden;
    background-color: var(--background-color);
}
#home-page, #chapter-page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100vw;
    justify-content: flex-start;
}
a {
    color: inherit;
    text-decoration: inherit;
    width: inherit;
    height: inherit;
}
button {
    box-sizing: border-box;
    font-weight: inherit;
    cursor: pointer;
    padding: inherit;
    border: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    align-items: center;
    padding: var(--padding-2);
    font-size: inherit;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
}
button:disabled {
    color: var(--text-color-2);    
    pointer-events: none;
}
button:focus-visible, input:focus-visible, a:focus-visible {
    outline: 2px solid var(--background-color-4);
    outline-offset: -2px;
}
input {
    border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.block-button {
    padding: var(--padding-2);
}
.icon-button {
    white-space: nowrap;
}
.icon-button:hover {
    opacity: var(--hover-opacity-1);
}
sup {
    cursor: pointer;
    color: var(--theme-color)
}
sup:hover  {
    opacity: var(--hover-opacity-1);
}
.h {
    /* color: var(--theme-color); */
    font-weight: bold;
    margin-right: 2px;
}
::selection {
    background-color: var(--theme-color-opaque);
    color: white;
}
.double-line {
    display: flex;
    flex-direction: column;
}
.fas {
    width: 1em !important;
    height: 1em !important;
}

/* Topbar */
.topbar {
    flex: none;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-color: var(--background-color-1);
    font-weight: bold;
    height: 3.5em;
    /* padding: var(--padding-2) 0; */
    width: 100%;
    border-bottom: 1px solid var(--background-color);
    z-index: 3;
    box-shadow: 0px 2px 8px -2px var(--background-color);
}
#home-topbar {
    justify-content: space-between;
}
#title {
    font-size: 1.1em;
    padding: 0 var(--padding-1);
    color: var(--theme-color-title);
}
#title-english {
    font-size: 0.65em;
    color: var(--text-color-2);
}

/* Content */
.content-wrapper {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.content-wrapper::-webkit-scrollbar {
    background-color: var(--background-color-1);
}
.content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#home-content {
    padding-bottom: 30vh;
}
#chapter-content {
    padding-bottom: 20vh;
}

/* Card Container */
#card-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-auto-rows: auto;
    background-color: var(--background-color-1);
    align-items: center;
    justify-items: stretch;
    row-gap: var(--gap);
    padding-bottom: var(--gap);
}
#card-container > * {
    pointer-events: none;
}
.header, .row {
    pointer-events: auto !important;
    font-size: 1em !important;
    font-weight: bold;
}
.header {
    cursor: pointer;
    /* padding: var(--padding-1) 0; */
}
.header[selected] {
    text-decoration: underline;
    text-underline-offset: var(--padding-5);

}
.chapter-name.header {
    width: max-content;
}
.header:hover {
    opacity: var(--hover-opacity-1);
}
.row {
    align-self: stretch;
    background-color: var(--background-color);
    border-bottom: var(--gap) solid var(--background-color-3);
    margin-bottom: -2px;
    height: 3em;
}
.card {
    box-sizing: border-box;
    grid-column: 1/6;
    pointer-events: auto !important;
    align-self: stretch;
    height: 3em;
    background-color: var(--background-color);
}
.card:hover {
    background-color: var(--background-color-1) !important;
}
.number {
    margin: 0 var(--padding-2);
    grid-column-start: 1;
    text-align: center;
    font-size: 1.05em;
    font-weight: bold;
}
.chapter-name {
    font-weight: bold;
    grid-column-start: 2;
    margin: 0 var(--padding-2);
    white-space: nowrap;
}
.revelation {
    grid-column-start: 4;
    text-align: center;
    margin-right: var(--padding-2);
    text-transform:capitalize;
}
.verse-count {
    box-sizing: border-box;
    margin: 0 var(--padding-2) 0 0;
    grid-column-start: 5;
    text-align: center;
}
.recitation-count {
    grid-column-start: 3;
    text-align: center;
}

/* Chapter topbar */
#back-button {
    margin-left: var(--padding-5);
}
#verse-selector-button:disabled {
    color: var(--theme-color-opaque);
}
#number {
    font-size: 1.2em;
    margin: 0 4px 0 8px;
}
#chapter-name {
    flex: 1;
    align-items: baseline;
    column-gap: var(--padding-2);
    margin-left: var(--padding-2);
}
#name-arabic {
    margin-left: auto;
    font-weight: normal;
    font-size: 1.2em;
}
#verses {
    text-align: center;
    margin-left: var(--padding-1);
}
#verse-count {
    margin-left: auto;
}
.medium-text {
    font-size: var(--medium-text);
    font-weight: bold;
}
.small-text {
    font-size: 0.65em;
    font-weight: bold;
    color: var(--text-color-2);
}

#settings-button {
    margin: 0 var(--padding-3);
}
#settings-overlay {
    display: flex;
    position:fixed;
    z-index: 5;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    font-weight: bold;
    font-size: 0.95em;
}
#settings-overlay[open] {
    width: 100%;
}
#overlay-opaque {
    flex: 1;
    background-color: var(--text-color-2);
    opacity: 0.2;
}
#settings-wrapper {
    background-color: var(--background-color);
    padding: var(--padding-2);
    padding-right: 0;
    overflow: hidden;
    max-width: 80%;
    width: fit-content;
}
#settings {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-2);
    padding-top: var(--padding-2);
    padding-bottom: 20vh;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: flex-start;
    /* max-width: 80%; */
}
#settings > * {
    padding: var(--padding-3);
}
.settings-container {
    display: flex;
    align-items: baseline;
    padding: var(--padding-2) 0;
    color: var(--text-color-3);
}
#theme-settings .settings-container, #name-settings .settings-container {
    gap: calc(2*var(--padding-1));
}
#font-settings .settings-container {
    gap: var(--padding-2);
}
.container {
    display: flex;
    align-items: center;
    gap: var(--padding-3);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
.container input {
    opacity: 0;
    margin: 0;
    width: 0;
}
.checkmark {
    height: var(--padding-3);
    width: var(--padding-3);
    background-color: var(--background-color-4);
    border-radius: 50%;
    border: var(--padding-5) solid var(--text-color-3);
}
.checkbox {
    height: 14px;
    width: 14px;
    margin: var(--padding-5);
    flex-shrink: 0;
    background-color: var(--text-color-3);
}
.container:hover input:not(input:checked) ~ .checkmark {
    background-color: var(--theme-color);
}
.container input:checked ~ .checkmark {
    border-color: var(--theme-color);
}
.container:hover input ~ .checkbox {
    opacity: var(--hover-opacity-1);
}
.container input:checked ~ .checkbox {
    background-color: var(--theme-color);
}
.container input:checked ~ .theme-text {
    color: var(--theme-color);
}
#font-counter {
    width: 2em;
    text-align: center;
}
#font-settings .block-button {
    background-color: var(--background-color-1);
}
#translation-container, #wbw-container {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    align-items: center;
}
#translation-container {
    gap: var(--padding-5);
}
#wbw-container {
    gap: var(--padding-3);
}
.checkbox-container {
    display: flex;
    gap: var(--padding-5);
}
.checkbox {
    display: block;
}



.dropdown-button {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    right: var(--padding-1);
    white-space: nowrap;
    flex-direction: column;
    gap: var(--gap);
    position: absolute;
    background-color: var(--background-color-2);
    font-weight: bold;
    color: var(--text-color-2);
}
.dropdown-content[selected] {
    display: flex;
}
.dropdown-item {
    text-align: left;
    background-color: var(--background-color-1);
}
.dropdown-item:hover {
    background-color: var(--background-color-3) !important;
}

#verse-selector {
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-auto-rows: auto;
    justify-items: stretch;
    align-items: stretch;
    padding: var(--gap);
    gap: var(--gap);
    font-size: var(--medium-text);
    font-weight: bold;
    color: var(--text-color-2);
}
.verse-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-3) 0;
    background-color: var(--background-color-1);
}
#verse-selector-button-container {
    box-sizing: border-box;
    padding: var(--gap) var(--gap) 0 var(--gap);
    width: 100%;
    gap: var(--gap);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: start;
    font-weight: bold;
    font-size: var(--medium-text);
}
#verse-selector-button-container > * {
    flex: 1;
}
#show-all-verses-button {
    background-color: var(--background-color-1);
}
#exterior-words-button {
    background-color: var(--background-color-1);
}

#single-verse {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* DELETE */
#verse-navigator {
    display: none !important;
}
#chapter-navigator {
    box-sizing: border-box;
    width: 100%;
    flex: none;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: var(--padding-1);
    padding: var(--padding-1) var(--padding-2);
    justify-content: center;
    font-size: var(--medium-text);
}
#chapter-navigator > * {
    background-color: var(--background-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--padding-1);
    flex: 1;
}
#chapter-navigator:last-child {
    margin-top: var(--padding-1);
}
.previous {
    flex-direction: row;
    justify-content: start;
}
.next {
    flex-direction: row-reverse;
    justify-content: end;
}
.previous > .fas {
    margin-left: var(--padding-3);
}
.next > .fas {
    margin-right: var(--padding-3);
}

/* AUDIO */
#audio-controls {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--background-color-1);
    box-shadow: 0px -2px 8px -2px var(--background-color);
    border-top: 1px solid var(--background-color);
    /* padding: var(--padding-5); */
}
#audio-controls > * {
    display: flex;
    align-items: center;
    width: 100%;
}
#upper-controls {
    color: var(--text-color-2);
    color: var(--theme-color-opaque);
    /* color: var(--theme-color); */
    /* font-size: 0.9em; */
}
#lower-controls {
}
#duration-label, #elapsed-label {
    margin-left: auto;
    padding: var(--padding-3);
    white-space: nowrap;
}
#time-slider {
    -webkit-appearance: none;
    width: 100%;
    height: var(--padding-3);
    border-radius: 50px;  
    background: var(--background-color-4);
    outline: none;
    cursor: pointer;
    opacity: 0.9;
    background-image: linear-gradient(var(--theme-color-opaque),var(--theme-color-opaque));
    background-size: 0% 100%;
    background-repeat: no-repeat;
}
#time-slider:hover {
    opacity: 1;
}
#time-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--padding-2);
    height: var(--padding-2);
    border-radius: 50%; 
    background: var(--theme-color);
}
#time-slider::-webkit-slider-thumb:hover {
    width: var(--padding-1);
    height: var(--padding-1);
}
#verse-playing {
    box-sizing: border-box;
    width: 48px;
    margin: 2px var(--padding-2);
    font-weight: bold;
    border: 2px solid var(--theme-color-opaque);
    background-color: inherit;
    color: var(--theme-color);
    text-align: center;
}
#verse-playing:focus-visible {
    outline: none;
}
#speed-dropdown {
    margin-left: auto;
    margin-right: var(--padding-2);
    cursor: pointer;
}
#speed-count {
    padding: var(--padding-2) 0;
    font-weight: bold;
}
#speed-count:hover {
    opacity: var(--hover-opacity-1);
}
#volume-content, #speed-content {
    bottom: 100%;
    right: 0;
    background-color: var(--background-color-2);
    flex-direction: column-reverse;
    align-items: center;
    width: min-content;
    gap: 0;
}
#volume-content > *, #speed-content > * {
    color: var(--text-color-3);
    font-size: 0.9em;
    padding-top: var(--padding-3);
}
#volume-content .icon-button, #speed-content .icon-button {
    padding-bottom: var(--padding-3);
}
#volume-slider, #speed-slider {
    -webkit-appearance: slider-vertical;
    width: var(--padding-3);
    height: 120px;
    padding: 0;
    cursor: pointer;
}
#recitations-dropdown {
}
#recitations-dropdown > .dropdown-content {
    bottom: 100%;
}
#recitations-dropdown .dropdown-item[selected] {
    color: var(--theme-color);
}

.verse-button {
    background-color: var(--background-color-1);
    justify-content: center;
    align-items: center;
    /* padding: var(--padding-3); */
}
#verse-container {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 3px;
    background-color: var(--background-color-2);
}
#bismillah {
    padding-top: calc(3*var(--padding-1));
    padding-bottom: calc(2*var(--padding-1));
}
.verse {
    box-sizing: border-box;
    border-left: 4px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    /* padding: var(--padding-1) var(--padding-2) var(--padding-2) var(--padding-2); */
    padding: var(--padding-1) var(--padding-3) var(--padding-2) var(--padding-1);
    background-color: var(--background-color);
    order: 1;
    gap: var(--padding-1);
}
.verse[playing] {
    /* background-color: var(--playing-background-color); */
    border-color: var(--theme-color-opaque);
}
.all-translations-button-container {
    display: flex;
    justify-content: flex-end;
}
#exterior-words-container {
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    row-gap: var(--padding-1);
    align-items: center;
    padding: var(--padding-1) 0;
}
#exterior-words-container > .verse {
    grid-column: 1 / 5;
    align-self: stretch;
}
#exterior-words-container > .verse-number {
    grid-column: 1 / 2;
    margin: 0 var(--padding-3);
}
#exterior-words-container > .divider {
    grid-column: 1 / 5;
}
.first-word, .last-word {
    font-size: 0.9em;
}
.first-word {
    grid-column: 2 / 3;
    margin-left: var(--padding-3);
}
.number-of-words {
    grid-column: 3 / 4;
    margin: 0 var(--padding-3);
    white-space: nowrap;
}
.last-word {
    grid-column: 4 / 5;
    margin-right: var(--padding-3);
    text-align: right;
}
.translation-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-0);
}
.verse-translated {
    /* margin: var(--padding-2) 0; */
    box-sizing: border-box;
    line-height: 1.4;
    padding-right: var(--padding-3);
    color: var(--text-color-1);
}
.translation-name {
    font-size:0.7em;
    color: var(--text-color-4);
    margin-top: var(--padding-3);
}
/* Strange circle e.g. in 2:286 */
/* @font-face {
    font-family: UthmanicHafs;
    src: url(fonts/UthmanicHafs.otf);
    font-display: swap;
} */
/* Double consonant followed by long "i" shows as long "a" */
/* @font-face {
    font-family: UthmanTahaNaskh;
    src: url(fonts/UthmanTahaNaskh.ttf);
    font-display: swap;
} */
@font-face {
    font-family: UH1_Ver17;
    src: url(fonts/UH1_Ver17.woff2);
    font-display: swap;
}
.arabic-word-container {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0 var(--padding-1) ;
    margin: 0 var(--padding-2);
    padding-right: var(--padding-3);
    white-space: nowrap;
    font-size: 2.2em;
    font-family: UH1_Ver17;
    direction: rtl;
}
.word-container {
    /* box-sizing: border-box; */
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: var(--padding-2) var(--padding-2);
    /* padding-right: var(--padding-3); */
    white-space: nowrap;
    gap: var(--padding-1) var(--padding-2);
}
.word-container .word {
    /* margin: 0 0 var(--padding-1) var(--padding-2); */
}
.arabic-word {
    /* box-sizing: content-box; */
    cursor: pointer;
}
[selected-word] {
    /* outline: 2px solid #555; */
    outline: 2px solid var(--background-color-4);
    outline-offset: 4px;
}
.transliterated-word {
    display: inline-block;
    text-decoration: underline;
    text-underline-offset: 4px;
    padding-bottom: var(--padding-4);
    cursor: pointer;
    /* font-size: 0.95em; */
    font-weight: bold;
    letter-spacing: 0.5pt;
}
.transliterated-word:hover {
    opacity: var(--hover-opacity-1);
}
.translated-word {
    font-size: 0.85em;
    color: var(--text-color-1);
}
.verse-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-right: var(--padding-2); */
}
.verse-number {
    font-weight: bold;
    font-size: 1.05em;
    text-align: center;
}

/* Scrollable */
.scrollable::-webkit-scrollbar {
    height: var(--padding-5);
    width: var(--padding-2);
    border-top: 1px solid var(--background-color);
    border-bottom: 1px solid var(--background-color);
}
.scrollable::-webkit-scrollbar-thumb {
    background-color: var(--background-color-3);
}
.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: var(--background-color-4);
}

@media(hover: hover) and (pointer: fine) {
    .block-button:hover {
        background-color: var(--background-color-2) !important;
    }
}

@media only screen and (max-width: 350px) {
    :root {
        --padding-0: 16px;
        --padding-1: 12px;
        --padding-2: 8px;
        --padding-3: 6px;
        --padding-4: 4px;
        --padding-5: 3px;
    }
    body {
        font-size: 4vw;
    }
}
/* @media only screen and (max-width: 350px) {
    :root {
        --padding-1: 18px;
        --padding-2: 10px;
        --padding-3: 4px;
    }
    body {
        font-size: 4vmin;
    }
} */
@media only screen and (min-width: 425px) {
    body {
        font-size: 2.5vw;
    }
}
@media only screen and (min-width: 600px) {
    body {
        font-size: 14px;
    }
    .arabic-word-container {
        font-size: 2.5em;
    }
    .content, .topbar, #audio-controls {
        padding-right: 10%;
        padding-left: 10%;
    }
    #title {
        padding: 0;
    }
    #chapter-name {
        flex-direction: row;
    }
    #chapter-name > .small-text {
        font-size: 0.9em;
    }
    #settings[open] {
        max-width: initial;
    }
    #chapter-navigator {
        width: initial;
    }
    #verse-selector {
        grid-template-columns: repeat(10, auto);
    }
    #verse-selector-button-container {
        justify-content: flex-start;
    }
    #exterior-words-container {
        align-self: center;
        width: max-content;
    }
}
@media only screen and (min-width: 800px) {
    .content, .topbar, #audio-controls {
        padding-right: 20%;
        padding-left: 20%;
    }
    .word-container {
        margin-left: var(--padding-2);
    }
    .verse .dropdown-content {
        right: initial;
        left: var(--padding-1);
    }
    .verse .dropdown-item {
        text-align: left;
    }
}
@media only screen and (min-width: 1000px) {
    .content, .topbar, #audio-controls {
        padding-right: 30%;
        padding-left: 20%;
    }
}

